extends layout 
 
block content 
 if (toShow == null) 
    h2 No instance to delete 
 else 
  h1= title  
  - let nuggetsid = toShow._id 
  - let nuggets_type = toShow.nuggets_type 
  - let nuggetscost = toShow.cost 
  - let nuggetssize = toShow.size 
   
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{nuggetsid} 
  - let actionid = "/resource/nuggets/" + nuggetsid 
  form(id='nuggetsForm', action= actionid, method="PUT") 
    div.form-group 
        label.nuggetsAttr(for='nuggets_type') nuggets type 
        input#nuggets_type(type='text', name='nuggets_type', value= nuggets_type ) 
    div.form-group 
        label.nuggetsAttr(for='size') nuggets size 
        input#size(type='text', name='size', value= nuggetssize ) 
    div.form-group 
        label.nuggetsAttr(for='cost') nuggets cost 
        input#cost(type='number', name='cost', value= nuggetscost ) 
    input(type="submit") 
 
  script. 
    document.forms['nuggetsForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target))  
      }).then((resp) => { 
        return resp.json(); 
      }).then((body) => { 
        alert("Update succeded") 
      }).catch((error) => { 
        alert("Update failed " + error ) 
      }); 
    }); 