extends layout

block content
        h1= title
        form(id='nuggetsForm', action="/resource/nuggets", method="POST")
            div.form-group
                label.nuggetsAttr(for='nuggets_type', class='col-4 col-from-label') nuggets type
                input#nuggets_type(type='text', name='nuggets_type')
            div.form-group
                label.nuggetsAttr(for='size', class='col-4 col-from-label') nuggets size
                input#size(type='text', name='size')
            div.form-group
                label.nuggetsAttr(for='cost', class='col-4 col-from-label') nuggets cost
                input#cost(type='number', name='cost')
            input(class='btn btn-outline-success' type="submit")             
            script.
               document.forms['nuggetsForm'].addEventListener('submit', (event) => {
                event.preventDefault();
                fetch(event.target.action, {
                 method: 'POST',
                 body: new URLSearchParams(new FormData(event.target)) 
                }).then((resp) => {
                 return resp.json(); 
                }).then((body) => {
                 alert("Save succeded")
                }).catch((error) => {
                 alert("Save failed " + error )
                });
              });